@import url('https://fonts.googleapis.com/css?family=Roboto');
 body {
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
   color: #505962;
   cursor: url(img/cursor.cur), auto;
 }

 .offset:before {
   display: block;
   content: "";
   height:4rem;
   margin-top: -4rem;
 }

 /*--- Navigation --*/

 .navbar {
   text-transform: uppercase;
   font-weight: 700;
   font-size: .9rem;
   letter-spacing: .1rem;
   background: rgba(0,0,0, 0.6)!important;
 }

 .navbar-brand img {
    height: 4rem;
 }

 .navbar-nav li {
   padding-right: .7rem
 }

 .navbar-dark .navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
 }

 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link:hover {
   color:#1ebba3;   
 }

 /*--- Landing page--*/

 .home-inner {
   background-image: url(img/lasertag.jpg);
 }

 .caption {
   width: 100%;
   max-width: 100%;
   position: absolute;
   top: 38%;
   z-index: 1;
   color: white;
   text-transform: uppercase;
 }

 .caption h1 {
   font-size: 3rem;
   font-weight: 700;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 1rem;

 }
 .btn-lg {
   border-width: medium;
   border-radius: 0;
   padding: .6rem 1.3rem;
   font-size: 1.1rem;
 }

 /*--- Course Section ---*/
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background: #1ebba3;
  border-color: #1ebba3;
}

.btn-secondary {    
  background: #189582;
  border-color: #189582;
}

/*--- Features section ---*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
  color: #1ebba3;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem
}

.feature p {
  font-size: 1.1rem; 
}

/*--- Resources Section---*/
.fixed {
  background-image: url(img/camo-bg.jpg);
  z-index: -1;
}

.dark {
  background-color: rgba(0,0,0, 0.75);
  color: white;
  padding:7rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
 
.fixed-background p {
  margin-top: 1rem;
}
 /*--- Clients Section ---*/
 .clients img {
   width: 100%;
   border-radius: 50%;
 }

 /*--- Contact section ---*/

 footer {
   background-color: #40474e;
   color: white;
   padding: 2rem 0  2rem;
   margin-top: 1rem;
}
 footer img {
   height: 3rem;
   margin: 1.5rem 0;
 }

 footer a {
   color: white;
 }

 footer svg.svg-inline--fa {
   font-size: 1.6rem;
   margin: 1.2em .5rem 0 0;
 }
 footer svg.svg-inline--fa:hover {
  color: #1ebba3 !important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top:3rem;
}

/*--- Media Query ---*/
@media (max-width: 767px) {
  
 
  .caption h1 {
    font-size: 2.3rem;   
    letter-spacing:1.5rem;    
    padding-bottom: .5rem;
 
  }
  .btn-lg {    
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
 
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
